$color-primary: #7ed56f;
$color-primary-light: #777;
$color-white: #fff;
$color-black: #000;
$color-body-next: #002fff;


$color-grey-light: #f7f7f7;


$first-color:  hsl(229, 69%, 61%);
$first-color-second: hsl(40, 69%, 61%);
$first-color-alt:  hsl(145, 84%, 46%);
$first-color-lighter:  hsl(234,  92%, 85%);
$title-color: hsl(321,  8%, 15%);
$text-color: hsl(980,  8%, 45%);
$text-color-lighter: hsl(976,  8%, 65%) ;
$input-color: hsl(347, 80%, 46%);
$body-color:  hsl(204, 30%, 47%);
$container-color: hsl(0, 88%, 16%);

$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horiontal: 4rem;
 