
.about_info{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}


.about_info-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: dodgerblue;
}

.about_info-name{
    font-size: 1rem;
}
.about_info-title,
.about_info-name{
    display: block;
    text-align: center;
}
.about_button{
    display: flex;
    justify-content: center;
}
.botton--flex{
    background-color: $color-black;
    color: $color-grey-light;
    border-radius: .5rem;
}



.home_scroll-button{
    color: blueviolet;
    transition: .3s;
}
.home_scroll-button:hover{
    transform: translateY(.25rem);
}
.home_scroll-mouse{
    font-size: 1.5rem;
}
.home_scroll-name{
    font-size: .9rem;
    color: dodgerblue;
    font-weight: 700;
    margin-right: .5rem;
}
.home_scroll-arrow{
    font-size: 1.2rem;
}