/*=======================   PROJECT   ====================*/

.project{
    text-align: center;
}
.project_bg{
    padding-top: 3rem;
    background-color: dodgerblue;
}
.project_tittle{
    font-size: 1rem;
    margin-bottom: 5.5rem;
}
.project_discription{
    margin-bottom: 1.5rem;
}

.project_tittle,
.project_discription{
    color: #fff;
}

.project_img{
    width: 232px;
    justify-self: center;
}










